<h2>Mes rêves</h2>

<div *ngIf="!connected">
    <p>Veuillez vous connecter pour accèder à vos rêves !</p>
    <button (click)="login()" > Se connecter/ s'inscrire </button>
</div>



<div *ngIf="connected">


    <label>Rechercher par : </label>
    <select [(ngModel)]="searchType" >
        <option value="title">Titre</option>
        <option value="dream">Rêve</option>
        <option value="categorie">Catégorie.s</option>
    </select>

    <div> 
    <input type="text" [(ngModel)]="input">
    <button (click)="search()">Rechercher</button><br>
    <button *ngIf="displayReset" (click)="reset()">Afficher la liste complète</button>
    </div><br><br>

    <label>Trier par : </label>
    <select [(ngModel)]="orderStr" (change)="order()" >
        <option value="date">Date</option>
        <option value="note">Mieux notés</option>
        <option value="asc">a-z</option>
        <option value="dsc">z-a</option>
    </select><br><br>



    <table>
        <thead>
        <tr>
        <th scope="col">Titre</th>
        <th scope="col">Date</th>
        <th scope="col">Rêve</th>
        <th scope="col">Catégorie.s</th>
        <th scope="col">Note</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dream of dreams; index as i">
        <td>
            {{ dream.title }}
        </td>
        <td>{{ dream.date | date:'shortDate' }}</td>
        <td>{{ dream.dream }}</td> 
        <td><span *ngIf="dream.categories.length > 0, else noCategories">{{ dream.categories}}</span></td>
        <td>{{ dream.stars}}/5</td>
        <td> <button (click)="displayDream(dream)">Afficher</button><br></td>
        </tr>
        </tbody>
    </table>

    <ng-template #noCategories>
        Pas de catégories
    </ng-template>
    
    
    <br><br>
    <button (click)="addOneDream()">Ajouter un rêve</button>
</div>