
<div *ngIf="dream != null">

    <br>
        <h2>Rêve : {{dream.title}}</h2>

        <table>
            <thead>
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Date</th>
              <th scope="col">Catégories</th>
              <th scope="col">Note</th>
            </tr>
            </thead>
            <tbody>
              <td>{{ dream.title }}</td>
              <td>{{ dream.date | date:'shortDate'}}</td>
              <td><span *ngIf="dream.categories.length > 0, else noCategories">{{ dream.categories }}</span></td>
              <td>{{dream.stars}}/5</td>
              <td><button (click)="update()">Modifier</button></td>
              <td><button class="red" (click)="delete()">Supprimer</button></td>
            </tbody>
          </table><br>
          <table>
            <thead><th scope="col"  class="dream">Rêve</th></thead>
            <tbody> <td  class="dream">{{ dream.dream }}</td></tbody>
          </table>

    <ng-template #noCategories>
        Pas de catégories sélectionnées
    </ng-template>
    
    <br>
    <button (click)="return()">Retour</button>

</div>
    
