<div class="container">
    
    <h2>To Do Estelle</h2>
    <ul>
        <li> PRIORITE favoris !! </li>
        <li>Mettre sur db</li>
        <li>Faire design plus beau via bootstrap (étoiles à sélectionner pour note ?)</li>
        <li>Chercher par catégories (boutons pour catégories, faire disparaitre la barre de Recherche)</li>
        <li>update reve et user </li>
        <li>Responsive</li>
        <li>Version partage entre amis (liste d'amis ? ou juste tous le monde ?)</li>
        <li>Update one dream et update user</li>
        <li>Page 404 nuage ?</li>
        <li>Accepté audio dans back</li>
        <li>Enregistrer audio</li>
        <li>Ameliorer qualité audio</li>
        <li>Reussir a en Enregistrer 2 d'affilés (url ne se met pas à jour dans html ?) </li>
        <li>Ajouter une partie suggestion ? Contact ? </li>
        <li>Proposer d'enregistrer un rêve sans être connecté et demander conection par après ?</li>
    </ul>
    
    <div *ngIf="!connected">
        <p>Bienvenue sur DreamOn, l'application qui vous permet d'enregistrer vos rêves ! Veuillez vous connecter ou vous inscrire pour enregistrer et acceder aux rêves !  </p>
        <button (click)="login()" > Se connecter/ s'inscrire </button>
    </div>
    
    
    
    <div *ngIf="connected">
        <h2>Enregistrer un rêve</h2>
    
        <form [formGroup]="dreamInsertForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="dream-title">Titre</label>
                <span *ngIf="dreamInsertForm.controls['title'].errors?.['required']" class="errors">*</span><br>
        
                <input type="text" id="dream-title" formControlName="title" required pattern=".*[^ ].*">
            
                <p *ngIf="dreamInsertForm.controls['title'].errors?.['pattern']" class="errors">
                    Veuillez entrer un titre svp.
                </p>
    
                <p *ngIf="dreamInsertForm.controls['title'].errors?.['maxlength']" class="errors">
                    La longueur maximum du titre est de 30 caractères.
                </p><br>
            </div><br>
    
            <div>
                <label for="dream-dream">Votre rêve</label>
                <span *ngIf="dreamInsertForm.controls['dream'].errors?.['required']" class="errors">*</span><br>
    
                <textarea id="dream-dream" formControlName="dream" required pattern=".*[^ ].*" class="dream"></textarea>
    
                <p *ngIf="dreamInsertForm.controls['dream'].errors?.['pattern']" class="errors">
                    Veuillez entrer un rêve svp.
                </p>
            </div><br>
    
            <div>
                <label for="dream-stars">Note sur 5</label>
                <span *ngIf="dreamInsertForm.controls['stars'].errors?.['required']" class="errors">* </span><br>
            
                <input type="number" min="0" max="5" id="dream-stars" formControlName="stars"><br>
    
                <span *ngIf="dreamInsertForm.controls['stars'].errors?.['max5stars']" class="errors"> 
                    {{ dreamInsertForm.controls['stars'].errors?.['max5stars'].message }} 
                </span>
            </div><br>
    
            <div>
                <label for="dream-date">Date</label>
                <span *ngIf="dreamInsertForm.controls['date'].errors?.['required']" class="errors">* </span><br>
    
                <input type="date" id="dream-date" formControlName="date">
    
                <p *ngIf="dreamInsertForm.controls['date'].errors?.['dateBeforeToday']" class="errors"> 
                    {{ dreamInsertForm.controls['date'].errors?.['dateBeforeToday'].message }} 
                </p>
            </div>
            <br>
    
            <div>
                <label for="dream-categories">Catégorie.s</label><br>
    
                <div class="categories">
                    <p *ngFor="let category of categories" >
                        <label for="categories">  {{category.inFrench}}</label>
                        <input type="checkbox" [(ngModel)]="category.isChecked" (change)="categoryChecked()"  [ngModelOptions]="{standalone: true}">    
                    </p>
                </div>
            </div>
    
            <br><br>
    
            <button type="submit">Ajouter un rêve</button>
            <br>
    
            <p><span class="errors">*</span> Ce champ est obligatoire</p>
    
            <button (click)="return()">Retour</button>
    
        </form>
    </div>
    
    
    <!-- <div style="text-align:center;margin-top: 200px;" >
        <button (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" style="cursor: pointer;background-color: green;color: white;font-size: 40px;"> Start Recording </button>
        <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" style="cursor: pointer;background-color: red;color: white;font-size: 40px;"> Stop Recording </button>
        
        <audio controls="" *ngIf="url"><source [src]="sanitize(url)" type="audio/wav"></audio>
    </div> -->
</div>
